.DS_Store
.idea/shelf
/android.tests.dependencies
/confluence/target
/dependencies
/dist
/local
/gh-pages
/ideaSDK
/clionSDK
/android-studio/sdk
out/
/tmp
workspace.xml
.gradle/
build/
*.iml
.idea
/run